* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

.container {
    position: relative;
    width: 540px;
    margin: 40px auto;
    text-align: center;
    height: 600px;
}

.sun div {
    display: inline-block;
    position: absolute;
}

// celestial bodies
.planet{
    z-index: 9;
}

.sun {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    top: 170px;
    left: 540px;
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 120px #f1da36, 0 0 60px #f2ad00, 0 0 10px #c96800, 0 0 200px #feff8f;
    background: radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
    box-shadow: 0 0 120px #f1da36, 0 0 60px #f2ad00, 0 0 10px #c96800, 0 0 200px #feff8f;
    background: -moz-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcf3a1), color-stop(100%, #f1da36));
    background: -webkit-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
    background: -o-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
}

.mercury {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 0;
    top: 25px;
    background: red;
}

.venus {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background: #8EDD6F;
    top: 35px;
    left: 0px;
}

.earth {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: url('../images/earth.png') no-repeat 0 0 #000533;
    top: 60px;
    left: 0;
    &:before{
        position: absolute;
        top: 0;
        left: 0;            
        content: '';
        display: block;
        height: 30px;
        width: 30px;
        background: url('../images/clouds.png') no-repeat 0 0;
    }
//    &:after{
//        position: absolute;
//        top: -15px;
//        left: 0;            
//        content: '';
//        display: block;
//        height: 30px;
//        width: 30px;
//        background: #000;
//        -webkit-box-shadow: 0px 25px 7px -10px rgba(0,0,0,0.75);
//        -moz-box-shadow: 0px 25px 7px -10px rgba(0,0,0,0.75);
//        box-shadow: 0px 25px 7px -10px rgba(0,0,0,0.75);
//    }
    .moon {
//        width: 30px;
//        height: 30px;
//        border-radius: 15px;
//        background: #fff;
//        top: -30px;
//        left: -30px;
//        transform-origin: 15px 15px;
    }    

}

.mars {display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: tomato;
    top: 25px;
    right: -122px;
    //transform-origin: 15px 15px;
}

.jupiter {display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #dda1f9;
    top: -18px;
    left: -18px;
    transform-origin: 8px 8px;
}

.saturn {display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -30px;
    left: -30px;
    transform-origin: 5px 5px;
    background: red;
}

.uranus /*snigger*/ {display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -50px;
    left: -50px;
    transform-origin: 10px 10px;
}
.neptune {display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -50px;
    left: -50px;
    transform-origin: 10px 10px;
    background: red;
}
.pluto{display: none !important;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -50px;
    left: -50px;
    transform-origin: 10px 10px;
    background: red;
}


// Orbit lines

.orbit {
    border: 1px solid rgba(255, 255, 255, 0.5);   
}

.mercury-orbit{
    width: 110px;
    height: 110px;
    border-radius: 60px;
    left: -15px;
    top: -15px; 
}
.venus-orbit{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    left: -35px;
    top: -35px;   
}
.earth-orbit{
    width: 280px;
    height: 280px;
    border-radius: 140px;
    left: -100px;
    top: -100px;     
}
//.mars-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;    
//}
//.jupiter-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;     
//}
//.saturn-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;     
//}
//.uranus-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;     
//}
//.neptune-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;     
//}
//.pluto-orbit{
//    width: 110px;
//    height: 110px;
//    border-radius: 60px;
//    left: -15px;
//    top: -15px;     
//}


// celestial body animations

.sun {
    //animation: spin 100s infinite linear;
}

.mercury-orbit {
    animation: spin 50s infinite linear;
}

.venus-orbit {
    animation: spin 100s infinite linear;
}
.earth{
    animation: spin 50s infinite linear;
}
//.shadow{
//    animation: spinCounter 50s infinite linear;
//}
.earth:before{
    animation: spinCounter 40s infinite linear;
}
.earth-orbit{
    animation: spin 50s infinite linear;
}

//.mars-orbit {
//    animation: spin 50s infinite linear;
//}
//
//.jupiter-orbit {
//    animation: spin 50s infinite linear;
//}
//
//.saturn-orbit {
//    animation: spin 50s infinite linear;
//}
//
//.neptune-orbit {
//    animation: spin 50s infinite linear;
//}
//
//.pluto-orbit {
//    animation: spin 50s infinite linear;
//}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spinCounter{
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }    
}